@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Article-page-background {
    height: 135vh;
    background-size: cover;
    background-color: #225db0;
}

.Article-page-heading {
    font-family: "Roboto";
    font-size: 30px;
    color: #ffffff;
}

.Article-page-para {
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
}

.Article-heading-para-card {
    padding: 30px;
}

.Article-image {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.Article-card {
    height: 90px;
    width: 130px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
}

.Article-course-name {
    font-family: "Roboto";
    font-size: 18px;
    color: #1f2933;
    font-weight: 300;

}

.carousel-tech {
    padding: 20px;
}

.List-topics {
    font-family: "Roboto";
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
}

.list-courses {
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
    margin: 10px;
}